
.show_msg_wrap {
  display: none;
}
.show_msg_wrap.show {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 999;
}
div#showMessage {
    background: #fff;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 70%);
}
.response_msg {
    display: flex;
  align-items: center;
}
.show_msg_wrap .icon {
    width: 30px;
    height: 30px;
    background: green;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.response_msg span {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.close_popup {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.social_connect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid rgba(0, 40, 82, .4);
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
}
.social_connect ul {
    margin-bottom: 0 !important;
}
.social_connect ul li {
  display: inline-flex;
  margin-bottom: 0 !important;
  margin: 0 5px;
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.social_connect p {
    margin-bottom: 0;
  color: #212529;
    font-weight: 500;
}
.social_connect ul li a {
  color: #fff;
}
.social_connect ul li:nth-child(1) {
    background: #3b5998;
    border-color: #3b5998;
}
.social_connect ul li:nth-child(2) {
    background: #00acee;
    border-color: #00acee;
}
.social_connect ul li:nth-child(3) {
    background: #25d366;
    border-color: #25d366;
}
.us-stock-list .inner-row .subscriber-blog .newsletter-form form input#mng_subscribe:hover {
  background: transparent;
  color: #002852;
}
.us-stock-list .inner-row .subscriber-blog .newsletter-form form input#mng_subscribe {
  width: 100%;
  margin-top: 10px;
  transition: 0.3s all;
  border: 1px solid;
}
.us-stock-list .inner-row .subscriber-blog .newsletter-form form input#mng_subscribe:focus {
  background: #002852;
}
.newsletter-section {
  padding: 100px 0;
}
.newsletter-section .inner-row {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(135deg, #1F343F 0%, #002852 100%);
  padding: 36px 0 50px 100px; 
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.newsletter-section .content h2 {
  font-size: 30px !important;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  display: block;
  margin: 0 0 4px 0;
}
.newsletter-section .content form {
  width: 100%;
  max-width: 428px;
}
.newsletter-section .newsletter-image {
  width: 53%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.newsletter-section .newsletter-image:before {
  content: "";
  background-image: url(../../images/subscriber-logo-bg.png);
  position: absolute;
  top: -36px;
  bottom: -50px;
  background-repeat: no-repeat;
  background-position: center;
  right: 46px;
  width: 108%;
}
.newsletter-section .newsletter-image img {
  max-width: 243px;
  margin: 0 auto 0 14%;
  position: relative;
}
.newsletter-section .newsletter-image img.mobile {
  display: none;
}
.newsletter-section .content {
  position: relative;
  z-index: 1;
  width: calc(100% - 53%);
}
.newsletter-section .content p {
  font-family: "Inter", sans-serif;
  font-size: 20px !important;
  font-weight: 400;
  line-height: normal;
  color: rgba(255,255,255,0.8);
  margin: 0 0 20px 0;
}
.newsletter-section .content form {
  margin: 0;
  position: relative;
}
.newsletter-section .content input {
  margin: 0;
}
.newsletter-section .content input#newslater {
  background: #fff;
  padding: 4px 145px 4px 18px;
  color: #0A2B4B;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  width: 100% !important;
  height: 47px !important;
  border: none;
  border-radius: 100px !important;
}
.newsletter-section .content input#newslater:focus {
  outline: none;
}
.newsletter-section .content input#newslater::placeholder {
  color: #0A2B4B;
}
.newsletter-section .content input#submit {
  position: absolute;
  right: 4px;
  border-radius: 100px !important;
  background: #143044 !important;
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  font-size: 16px !important;
  font-weight: 600;
  margin: 0;
  width: 130px !important;
  height: 39px !important;
  top: 4px;
  transform: unset;
  line-height: normal;
}
.newsletter-section.category {
  padding: 69px 0;
}

@media (max-width: 991px) {
  .newsletter-section .inner-row {
      padding: 36px 0 50px 50px;
  }
  .newsletter-section .content h2 {
      font-size: 24px !important;
  }
  .newsletter-section .content p {
      font-size: 16px !important;
  }
  .newsletter-section .newsletter-image {
      position: unset;
      width: auto;
  }
  .newsletter-section .newsletter-image:before {
      background-image: url(../../images/mobile-subscriber-logo-bg.png);
      background-size: contain;
      background-position: top right;
      right: 0;
      top: 0;
      bottom: 0;
  }
  .newsletter-section .newsletter-image img {
      max-width: 44px;
      margin: 0;
      position: absolute;
      top: 55px;
      right: 75px;
  }
  .newsletter-section .newsletter-image img.desktop {
      display: none;
  }
  .newsletter-section .newsletter-image img.mobile {
      display: block;
  }
}

@media (max-width: 1199px) {
  .newsletter-section {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .newsletter-section {
      padding: 5px 0 58px;
  }
  .newsletter-section .inner-row {
      padding: 23px 0 24px 21px;
  }
  .newsletter-section .content h2 {
      font-size: 14px !important;
      max-width: 200px;
  }
  .newsletter-section .content p {
      font-size: 14px !important;
      max-width: 200px;
  }
  .newsletter-section .content {
      width: 100%;
  }
  .newsletter-section .content .newsletter-form {
      padding-right: 21px;
  }
  .newsletter-section .newsletter-image img {
      top: 40px;
      right: 50px;
  }
  .newsletter-section .content input#newslater {
      font-size: 14px;
      height: 37px !important;
      padding: 4px 90px 4px 18px;
  }
  .newsletter-section .content input#submit {
      font-size: 10px !important;
      height: 29px !important;
      line-height: 19px;
      width: 75px !important;
  }
  .newsletter-section .content form {
      max-width: 100%;
  }
}

@media (max-width: 360px) {
  .newsletter-section .content p {
      font-size: 12px !important;
      max-width: 160px;
  }
}