

.site-content .ast-container {
    max-width: 100%;
    padding: 0;
}

.btn {
    background-color: #05A86B;
    border: 1px solid #05A86B;
    border-radius: 8px;
    padding: 16px 28px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    display: inline-block;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #05A86B;
}

section {
    background-color: #FFFFFF;
}

h2 {
    color: #262626;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
}

section > div > div > p {
    color: #737373;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 8px 0 0;
}

.home-page .container {
    max-width: 1130px;
}

.home_banner {
    padding-top: 48px;
}
.home_banner_content {
    max-width: 622px;
    margin: auto;
    text-align: center;
}

.home_banner_content h1 {
    color: #262626;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 18px;
}

.home_banner_content p {
    color: #737373;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 32px;
}

.home_banner_content h5 {
    color: #262626;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-top: 27px;
}

.home_banner_content h5 a {
    color: #05A86B;
    text-decoration: underline;
}

.banner_image {
    max-width: 1013px;
    margin: 24px auto 0;
}

.banner_image img {
    display: block;
}

.home_banner_wrapper h6 {
    color: #737373;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    margin: 8px 0;
}


.home_metrics {
    background-color: #002852;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 9px;
}

.home_metrics_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.home_metrics_item {
    opacity: 0;
    width: calc(25% - 22.5px);
}

.home_metrics_item h3 {
    color: #F3F4F6;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
}

.home_metrics_item p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
    margin: 0;
}

.home_metrics_wrapper span {
    display: block;
    color: #8E9DAD;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    margin-top: 16px;
}

.home_features {
    background-color: #EFF6FF;
    padding: 72px 0;
}


.home_features_wrapper p {
    max-width: 611px;
    margin-left: auto;
    margin-right: auto;
}

.home_features_list {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.home_features_item {
    width: calc(25% - 13.5px);
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    border: 1px solid #E5E9EE;
    position: relative;
    padding-bottom: 85px;
}

.home_features_item h3 {
    color: #021930;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    margin-top: 24px;
}

.home_features_item h3 span {
    display: block;
    color: #737373;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.home_features_item p {
    color: #262626;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 0;
}

.home_features_item:nth-child(2) h3 {
    line-height: 32px;
}

.home_features_item label {
    display: block;
    background-color: #BFDBFE;
    border-radius: 100px;
    padding: 6px 12px;
    position: absolute;
    top: 16px;
    right: 16px;
    color: #1E3A8A;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.home_features_item a {
    color: #021930;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 24px;
}

.home_diversify {
    padding: 86px 0;
}

.home_diversify_list {
    margin-top: 53px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 40px;
    text-align: left;
}

.home_diversify_item {
    width: calc(33.33% - 10.9px);
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #E5E9EE;
}

.home_diversify_item_content {
    padding: 36px 36px 0;
}

.home_diversify_item_content h3 {
    color: #262626;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.home_diversify_item_content p {
    color: #737373;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 6px 0 0;
}

.home_diversify_wrapper {
    text-align: center;
}

.home_services {
    background-color: #002852;
    padding: 98px 0;
}

.home_service_item {
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid #E5E9EE;
    overflow: hidden;
}

.home_service_content {
    width: 47.66%;
    padding: 42px;
    position: relative;
    padding-bottom: 135px;
}

.home_service_image {
    width: 48.56%;
}

.home_service_labels {
    display: flex;
    margin-bottom: 8px;
    gap: 12px;
}

.home_service_labels span {
    background-color: #E5E9EE;
    padding: 5px 12px;
    border-radius: 100px;
    color: #262626;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.home_service_labels span.active {
    background-color: #BFDBFE;
    color: #1E3A8A;
}

.home_service_content h3 {
    color: #021930;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
}

.home_service_content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.home_service_content ul li {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    padding-left: 32px;
}

.home_service_content ul li + li {
    margin-top: 18px;
}

.home_service_content ul li:before {
    content: "";
    width: 20px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='12' r='6' fill='%236A95F3'/%3E%3Ccircle cx='10' cy='12' r='8' stroke='%2360A5FA' stroke-opacity='0.27' stroke-width='4'/%3E%3C/svg%3E");
    position: absolute;
    left: 0;
    top: 1px;
    background-repeat: no-repeat;
}

.home_service_footer {
    position: absolute;
    bottom: 42px;
}

.home_service_footer p {
    color: #737373;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 8px 0 0;
}

.home_service_item:nth-child(even) .home_service_content {
    order: 2;
}

.home_service_item:nth-child(even) .home_service_image {
    order: 1;
}

.home_service_item + .home_service_item {
    /* margin-top: 48px; */
}

.home_service_image img {
    display: block;
}

.home_steps {
    padding: 80px 0 40px;
}


.home_steps_list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.step_item {
    border: 1px solid #E5E9EE;
    border-radius: 8px;
    width: calc(33.33% - 15px);
}

.step_item img {
    display: block;
    margin: auto;
}

.step_item h3 {
    color: #262626;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    padding: 29px 39px 0 24px;
}

.step_item p {
    color: #262626;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
    margin: 8px 0 41px;
    padding: 0 39px 0 24px;
}

.step_item:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.step_item:nth-child(2) img {
    order: 1;
}

.step_item:nth-child(2) .step_content {
    order: 2;
    position: relative;
    top: -20px;
}

.step_item:nth-child(2) h3 {
    padding-top: 0;
}

.step_item:nth-child(2) p {
    margin: 8px 0 5px;
}


.home_security_list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.home_security_list .home_security_item {
    width: calc(25% - 22.5px);
    border: 1px solid #E5E9EE;
    border-radius: 8px;
    padding: 36px 24px;
}

.home_security_list .home_security_item img {
    display: block;
}

.home_security_list .home_security_item p {
    color: #262626;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 52px 0 0;
}

.home_security {
    padding-top: 40px;
    padding-bottom: 80px;
}











.home_investors_slider_section {padding-top: 48px;padding-bottom: 13px;background-color: #EFF6FF;}

.home_investors_slider_section .container {
    max-width: 100%;
}

.home_investors_slider {
    margin-top: 44px;
}

.home_investors_slide {
    background-color: #FFFFFF;
    padding: 32px 24px;
    border-radius: 8px;
    border: 1px solid #E5E9EE;
    margin: 0 6px;
    height: inherit;
    width: 320px;
}

.home_investors_slide_details_info {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.home_investors_slide_details_info_img {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    overflow: hidden;
}

.home_investors_slide_details_info_content {
    width: calc(100% - 68px);
}

.home_investors_slide_details_info_content h3 {
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.home_investors_slide_details_info_content p {
    color: #737373;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 3px 0 0;
}

.home_investors_slide_details_review {
    margin-top: 24px;
    color: #262626;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.home_investors_slide_details_review p {
    margin: 0;
}

.home_investors_slider .slick-list {
    margin: 0 -6px;
    max-width: 984px;
    margin: auto;
    overflow: visible;
}

.home_investors_slider .slick-list .slick-track {
    display: flex;
}

.home_investors_slider_controls {
    margin-top: 36px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.home_investors_slider_controls button {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.home_investors_slider_controls button svg {
    display: block;
}

.home_investors_disclosure {
    max-width: 692px;
    margin: auto;
    color: #737373;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.home_quick_links {
    padding: 80px 0;
}

.home_quick_links_list {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.home_quick_links_item {
    width: calc(33.33% - 20px);
    border: 1px solid #E5E9EE;
    border-radius: 8px;
    padding: 29px 24px;
}

.home_quick_links_item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #262626;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

.home_quick_links_item p {
    margin: 8px 0 0;
    color: #262626;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
}




.cards-section {
  position: relative;
}

.cards {
    display: grid;
    /* margin-top: 3.5rem; */
    > * {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
  
  .card {
    width: 100%;
    /* height: 250px; */
    /* background-color: red;
    border-radius: 8px;
    border: 2px solid red; */
  }

  @media (max-width: 1199px) {
    .home_metrics_item p {
        font-size: 16px;
    }
    
    .home_features_item {
        padding-left: 19px;
        padding-right: 19px;
    }
    
    .home_diversify_item_content {
        padding: 26px 26px 0;
    }
    
    .home_service_item {
        gap: 36px;
        justify-content: space-between;
    }
    
    .home_service_content {
        padding: 30px;
        padding-bottom: 130px;
    }
    
    .home_service_content ul li {
        font-size: 14px;
    }
    
    .home_service_content h3 {
        font-size: 24px;
        line-height: 36px;
    }
    
    .home_service_footer .btn {
        font-size: 16px;
    }
    
    .step_item img {
        margin-top: 0;
    }
  }

@media (max-width: 991px) {
    .home_metrics_item {
        width: calc(50% - 15.5px);
    }
    
    .home_features_item {
        width: calc(50% - 9.5px);
    }
    
    .home_diversify_item_content {
        padding: 20px 20px 0;
    }
    
    .home_diversify_item_content h3 {
        font-size: 16px;
    }
    
    .home_diversify_item_content p {
        font-size: 14px;
    }
    
    .home_diversify_item {
        /* width: 100%; */
    }
    
    .home_service_content {padding: 20px;}
    
    .home_service_image {
    }
    
    .home_service_item {
        gap: 24px;
        align-items: flex-end;
    }
    
    .home_service_footer {
        position: relative;
        bottom: 0;
        margin-top: 40px;
    }
    
    .home_service_content ul li:before {
        width: 12px;
        height: 16px;
        background-size: 12px 16px;
        top: 3px;
    }
    
    .home_service_content ul li {
        padding-left: 20px;
    }
    
    .home_service_content ul li + li {
        margin-top: 12px;
    }
    
    .step_item h3 {
        font-size: 16px;
        line-height: 1.2;
        padding: 20px 20px 0;
    }
    
    .step_item p {
        font-size: 14px;
        line-height: 1.4;
        padding: 0 20px;
        margin: 8px 0 10px;
    }
    
    .home_security_list .home_security_item {
        padding: 20px;
        width: calc(50% - 15.5px);
    }
    
    .home_security_list .home_security_item p {
        margin-top: 10px;
    }
    
    .home_quick_links_list {
        gap: 14px;
    }
    
    .home_quick_links_item {width: calc(33.33% - 10px);padding: 20px 16px;}
    
    .home_quick_links_item p {
        font-size: 14px;
        line-height: 1.4;
    }
}

@media (max-width: 767px) {
    .home_banner_content h1 {
        font-size: 36px !important;
        line-height: 1.2;
        font-weight: 800;
        margin-bottom: 10px;
    }
    
    .home_banner_content p {
        font-size: 16px;
    }
    
    .btn {
        font-size: 16px;
    }
    
    .home_banner_content h5 {
        font-size: 14px;
    }
    
    .home_metrics_item {
        width: 100%;
    }
    
    .home_metrics_list {
        gap: 15px;
    }
    
    .home_features {
        padding: 40px 0;
    }
    
    h2 {
        line-height: 1.4;
    }
    
    section > div > div > p {
        font-size: 14px;
        line-height: 1.4;
    }
    
    .home_features_item {
        width: 100%;
        padding: 20px;
    }
    
    .home_features_item a {
        position: relative;
        bottom: 0;
        margin-top: 14px;
    }
    
    .home_features_item h3 {
        margin-top: 8px;
    }
    
    .home_features_item p {
        margin-top: 0;
    }
    
    .home_diversify {
        padding: 40px 0;
    }
    
    .home_diversify_list {
        margin-top: 20px;
    }
    
    .home_diversify_item {
        width: 100%;
        max-width: 360px;
        margin: auto;
    }
    
    .home_service_content {
        width: 100%;
    }
    
    .home_service_footer {
        margin-top: 30px;
    }
    
    .home_service_image {
        width: 100%;
    }
    
    .home_service_item {
        gap: 10px;
    }
    
    .home_service_item:nth-child(even) .home_service_image {
        order: 2;
    }
    
    .home_steps {
        padding: 40px 0;
    }
    
    .step_item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .step_content {
        width: 50%;
    }
    
    .step_item img {
        width: 50%;
    }
    
    .step_item:nth-child(2) {
        flex-direction: row;
    }
    
    .step_item:nth-child(2) .step_content {
        top: 0;
    }
    
    .step_item:nth-child(2) h3 {
        padding-top: 20px;
    }
    
    .home_steps_list {
        gap: 15px;
    }
    
    .home_security_wrapper h2 br {
        display: none;
    }
    
    .home_security_list .home_security_item {
        width: 100%;
    }
    
    .home_quick_links {
        padding: 40px 0;
    }
    
    .home_quick_links_item {
        width: 100%;
    }
}