input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}


img {
	display: block;
}

.container {
	max-width: 1240px;
	padding: 0 24px;
}

.site-content .ast-container {
	max-width: 100%;
	padding: 0;
}

.desktop_hide {
	display: none;
}

.btn_dark {
	padding: 16px 21px;
	border-radius: 5px;
	background: #002852;
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border: 1px solid #002852;
	transition: all 0.3s;
	display: inline-block;
}

a.btn_dark {
	background: #002852;
	color: #fff;
}

.btn_light {
	padding: 16px;
	border-radius: 5px;
	border: 1px solid #002852;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #002852;
	transition: all 0.3s;
	display: inline-block;
	background: #fff;
}

.btn_link {
	color: #212529;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-decoration-line: underline;
	transition: all 0.3s;
}

.btn_link:hover {
	color: #002852;
}

.btn_light:hover {
	background: #002852;
	color: #fff;
	border-color: #fff;
}

.btn_dark:hover {
	background: #fff;
	color: #002852;
}

.bonds_banner_section {
	padding: 100px 0;
}

.bonds_banner_wrapper {
	display: flex;
	flex-wrap: wrap;
}
.page-template-page-inr-bonds .portfolio_slider img {
	height: 494px;
}
.bonds_banner_content {
	/* max-width: 600px; */
	width: 50%;
}

.bonds_banner_content .sub_heading {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 11px;
}

.bonds_banner_content .sub_heading span {
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #212529;
	margin-left: 10px;
}


.bonds_banner_content h1 {
	font-size: 48px;
	font-weight: 400;
	color: #002852;
	line-height: 1.1;
	margin-bottom: 16px;
}

.banner_list {
	padding: 0;
	margin: 0;
}

.banner_list li:before {
	content: "";
	position: absolute;
	width: 26px;
	height: 26px;
	background: url(../../images/check.png);
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.banner_list li {
	list-style: none;
	padding-left: 34px;
	position: relative;
	color: #505a64;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3;
	letter-spacing: -0.36px;
}

.banner_list li:not(:first-child) {
	margin-top: 12px;
}

.banner_buttons {
	margin-top: 136px;
}

.banner_buttons .btn_link {
	margin-left: 27px;
}

.bonds_banner_image {
	width: 50%;
	padding-left: 10px;
}

.bonds_banner_image img {
	max-width: 520px;
    margin-left: auto;
}


.explore_bonds_wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.explore_bonds_image {
	width: 49%;
}

.explore_bonds_content {
	width: 51%;
	padding-left: 50px;
}

.explore_bonds_content h2 {
	font-size: 38px;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 15px;
	color: #002852;
}

.explore_bonds_list .single_bond_list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.explore_bonds_list .single_bond_list .single_bond_icon {
	width: 52px;
	height: 52px;
	background-color: #EEF5FC;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.explore_bonds_list .single_bond_list p {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.3;
	color: #212529;
	opacity: 0.6;
	margin: 0;
	padding-left: 18px;
}

.explore_bonds_buttons {
	margin-top: 64px;
}

.bonds_list_section {
	padding: 100px 0;
}

.bonds_list_wrapper h2 {
	font-size: 38px;
	font-weight: 600;
	line-height: 1.1;
	color: #002852;
	text-align: center;
}

.bonds_tabs_container {
	margin-top: 56px;
}

.bonds_tabs_buttons {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 6px;
	background: rgba(0, 40, 82, .1);
	padding: 5px;
	max-width: 212px;
}

.bonds_tabs_buttons .bonds_tab_button {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: #002852;
	border-radius: 3px;
	background-color: transparent;
	opacity: 0.7;
}

.bonds_tabs_buttons .bonds_tab_button.active {
	background-color: #fff;
	opacity: 1;
}

.bonds_tabs_content {
	margin-top: 15px;
}

.bonds_tab_content_wrappr button {
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	color: #002852;
	padding: 0;
	text-decoration: underline;
	background-color: #fff;
	text-decoration-thickness: 2px;
}

.bonds_slider_container {
	margin-top: 46px;
}

.bonds_slider_item_wrapper {
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 10px 8px 40px 0px rgba(0, 40, 82, .08);
	width: calc(100% - 20px);
	padding: 24px;
	position: relative;
	overflow: hidden;
}

.bonds_slider_item_head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bonds_slider_item_head .bond_image {
	background-color: #F5F6F8;
	border-radius: 4px;
	overflow: hidden;
	width: 120px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 10px;
}

.bonds_slider_item_head .bond_image img {
	max-height: 100%;
	object-fit: contain;
}

.bond_rating {
	position: absolute;
	top: 0;
	right: 0;
	clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 0% 100%);
}


.bond_rating span {
	font-size: 14px;
	display: block;
	padding: 4px 15px 4px 40px;
	font-weight: 600;
}

.bonds_slider_item_wrapper h3 {
	margin-top: 24px;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	color: #002852;
	height: 56px;
}

.bond_details_list {
	margin-top: 24px;
	margin-bottom: 24px;
}

.bond_details_list .bond_detail_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}

.bond_details_list .bond_detail_item span {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #8C8C8C;
	display: block;
}

.bond_details_list .bond_detail_item strong {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	color: #262626;
	display: block;
}

.bonds_slider_item_wrapper .btn_dark {
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	padding: 8px 16px;
}

.bonds_slider_item_wrapper .btn_dark i {
	vertical-align: middle;
	margin-left: 8px;
}



.bonds_tab_content {
	display: none;
}

.bonds_tab_content.active {
	display: block;
}

.bonds_tab_button.active {
	background-color: #ccc;
}

.bonds_slider .slick-list {
	width: 100%;
	padding: 20px 20% 30px 0px !important;
	box-shadow: -40px 0px 40px -30px rgba(0, 40, 82, .08);
}

.bonds_slider .slick-arrow {
	background-color: #EEF5FC;
	width: 46px;
	height: 46px;
	border-radius: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	cursor: pointer;
}

.bonds_slider .slick-arrow.bond_prev {
	left: -60px;
	padding-right: 7px;
}

.bonds_slider .slick-arrow.bond_next {
	right: -23px;
	padding-left: 4px;
}

.bonds_slider .slick-list:before {
	content: "";
	position: absolute;
	width: 20%;
	height: 100%;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
	top: 0;
	right: 0;
	z-index: 1;
}

.bonds_slider .slick-arrow.slick-disabled {
	opacity: 0.4;
}

.calculation_range_input {
	margin: 0 !important;
}

.calculation_range_input:focus {
	border: none;
}

.calculation_range_input:focus div {
	outline: none !important;
}

.calculation_range_input::-webkit-slider-runnable-track {
	height: 2px !important;
	box-shadow: none !important;
}

.calculation_range_input::-webkit-slider-thumb {
	width: 18px !important;
	height: 18px !important;
	cursor: ew-resize !important;
	background: #fff !important;
	border: 2px solid #002852 !important;
	margin-top: -8px !important;
}

.bonds_calculator_section {
	padding-bottom: 100px;
}

.bonds_calculator_wrapper h2 {
	font-size: 38px;
	font-weight: 700;
	line-height: 1.1;
	color: #002852;
}

.bonds_calculator_container {
	margin-top: 45px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.bonds_calculator_form {
	width: 40%;
	padding-right: 15px;
}

.bonds_calculator_result {
	width: 60%;
	padding-left: 15px;
}

.bonds_calculator_form label {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	color: #464646;
}

.bonds_select_box select {
	width: 100%;
	height: 52px;
	margin-top: 6px;
	border: 1px solid #A9BDD0;
	border-radius: 4px;
	padding: 14px;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	color: #002852;
	background-color: transparent;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB6SURBVHgB7ZDBDYAgDEW/TKI31nAD46DGDVyDm0xiNEUPSFs6QN+JAH2PADiOM7C7cT3L4pqR9gyNuIxAOGidtul/HJTRMkiCrly8IwSelwNZjdTy/M408F8kCb7v0s7MAUlE2OT9ABshTHJboI3AKrcH6giscsdxCje0EzktB/V6CwAAAABJRU5ErkJggg==);
	background-position: calc(100% - 14px);
	background-repeat: no-repeat;
	background-size: auto 16px;
	cursor: pointer;
	-webkit-appearance: none;
	outline: none;
}

.bonds_select_box {
	margin-bottom: 24px;
}

.units_select_head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}

.units_select_head input {
	border: 1px solid #A9BDD0;
	border-radius: 4px;
	width: 76px;
	height: 40px;
	padding: 11px 10px;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	color: #002852;
	background-color: #fff;
}

.calculator_result_top {
	position: relative;
	background-color: #EEF5FC;
	border-radius: 6px 6px 0px 0px;
	padding: 24px 24px 14px 24px;
}

.calculator_result_value label {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	color: #212529;
	display: block;
}

.calculator_result_value strong {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
	color: #212529;
	display: block;
	margin-top: 4px;
}

.calculator_result_value span {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
	color: #212529;
	display: block;
}

.calculator_result_box:not(:last-child) {
	margin-bottom: 24px;
}

.calculator_result_progress .result_progress {
	background-color: #002852;
	width: 100%;
	height: 19px;
	border-radius: 32px;
	transition: all 0.5s ease;
}

.calculator_result_box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.calculator_result_progress {
	width: calc(100% - 200px);
	background-color: #eceff3;
	border-radius: 32px;
}

.calculator_result_bottom {
	background-color: #002852;
	padding: 22px 120px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.4;
	color: #fff;
	border-radius: 0px 0px 6px 6px;
}

.calculator_result_bottom strong {
	color: #0DC986;
}

.loading .units_select_box,
.loading .calculator_result_box,
.loading .calculator_result_bottom {
	filter: blur(4px);
	pointer-events: none;
}

.calculator_result_loader {
	width: 48px;
	height: 48px;
	border: 5px solid #002852;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: none;
}

.loading .calculator_result_loader {
	display: block;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.features_section {
	background-color: #002852;
	padding: 90px 0 130px;
}

.features_section_inner {
	background-image: url(../../images/edge-shape-bg.png);
	max-width: 1440px;
	margin: auto;
}

.features_wrapper h2 {
	font-size: 38px;
	font-weight: 400;
	line-height: 64px;
	color: #fff;
	text-align: center;
	margin-bottom: 38px;
}

.features_list {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 980px;
	margin: auto;
}

.feature_item {
	max-width: 180px;
	text-align: center;
	padding: 0 10px;
	box-sizing: content-box;
}

.feature_item .feature_item_icon img {
	margin: auto;
}

.feature_item span {
	display: block;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	color: #fff;
	margin-top: 13px;
}


.units_range_steps {
	width: calc(100% - 72px);
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: auto;
}

.units_range_steps span {
	background-color: #9CA3AF;
	height: 4px;
	width: 1px;
}

.units_range_steps span:first-child,
.units_range_steps span:last-child {
	height: 8px;
}



.portfolio_slider_sec {
	padding: 53px 0 56px;
}

.steps_slides .portfolio_slider_wrap {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.steps_slides .portfolio_slider {
	width: 291px !important;
}

.steps_slides .single_portfolio_slider {
	background-color: transparent !important;
	border: none !important;
	padding: 10px !important;
}

.steps_slides .portfolio_slider_content {
	width: 426px;
	margin-left: 32px;
}

.steps_slides .single_portfolio_slider_content:not(:last-child) {
	margin-bottom: 38px;
}

.steps_slides .single_portfolio_slider_content {
	display: flex !important;
	padding: 0 !important;
	background: transparent !important;
}

.progressBar {
	background: #e8eef4;
	display: block;
	width: 4px;
}

.inProgress {
	background: #002752;
	height: 0%;
	width: 4px;
}

.steps_slides .portfolio_slider_content_inner {
	display: flex;
}

.steps_slides .portfolio_slider_inner_content {
	width: calc(100% - 28px);
	margin-left: 24px;
}

.steps_slides .slider_index {
	color: #212529;

	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	opacity: 0.4;
}

.steps_slides .portfolio_slider_inner_content h3 {
	color: #212529;

	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 1;
	letter-spacing: -0.44px;
	margin: 10px 0;
}

.steps_slides .single_slider_desc {
	margin: 0;
	color: rgba(33, 37, 41, 0.6);
	font-size: 18px !important;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -0.36px;
}

.portfolio_title {
	color: #002852;
	text-align: center;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 15px;
}

.invest_wisely_section {
	padding-bottom: 100px;
}

.invest_wisely_wrapper h2 {
	font-size: 38px;
	font-weight: normal;
	line-height: 1.2;
	color: #002852;
	text-align: center;
	margin-bottom: 40px;
}

.invest_wisely_item {
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
}

.invest_wisely_item .invest_wisely_image {
	width: 41%;
	background: #bcdaff;
	padding: 34px 48px;
}

.invest_wisely_item .invest_wisely_content {
	width: 59%;
	text-align: center;
	padding: 65px 48px;
}

.invest_wisely_item .invest_wisely_content h3 {
	font-size: 30px;
	line-height: 1.2;
	color: #002852;
	margin-bottom: 8px;
}

.invest_wisely_item .invest_wisely_content p {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	color: #212529;
	opacity: 0.6;
	max-width: 388px;
	margin: 0 auto 54px;
}


.faqs_section {
	padding-bottom: 150px;

}

.faqs_wrapper h2 {
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
	color: #002852;
	text-align: center;
	margin-bottom: 24px;
}

.faq_question {
	color: #212529;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
	word-wrap: break-word;
	width: 100%;
	padding: 16px 8px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.faq_answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
	border-bottom: 1px solid rgba(244, 247, 254, 1);
	padding-left: 10px;
	padding-right: 10px;
}

.faq_answer p,
.faq_answer ul {
	color: #1E2022;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	word-wrap: break-word;
	margin-bottom: 15px;
}

.faq_item .faq_icon svg {
	width: 15px;
	height: 28px;
	display: block;
	transition: transform 0.3s ease-in-out;
}

.faq_item .faq_icon.active svg {
	transform: rotate(180deg);
}

.modal {
	display: none;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	animation: fadeInOut 0.5s ease-in-out;
	align-items: center;
    justify-content: center;
}

.modal-content {
	background-color: #fff;
    border-radius: 6px;
    padding: 24px;
    max-width: 512px;
}

.modal-content h2 {
    font-size: 18px;
    line-height: 28px;
    color: #111827;
    margin-bottom: 8px;
}

.modal-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #4B5563;
    margin-bottom: 16px;
}

.modal-content .close {
    padding: 12px 20px;
    border-radius: 6px;
    display: block;
    margin-left: auto;
}
.page-template-page-inr-bonds .bonds_calculator_section {
    display: none;
}	

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.units_input_group button {
    display: none;
}

@media (max-width: 1199px) {
	.bonds_banner_image img {
		max-width: 460px;
	}
}

@media (max-width: 1023px) {
	.bonds_banner_content h1 {
		font-size: 32px;
	}
	
	.banner_list li {
		font-size: 16px;
	}
	
	.bonds_banner_image img {
		max-width: 100%;
		margin-left: inherit;
	}
	
	.banner_buttons {
		margin-top: 60px;
	}
	
	.btn_dark {
		font-size: 16px;
	}
	
	.btn_link {
		font-size: 16px;
	}
	
	.explore_bonds_content h2 {
		font-size: 24px;
	}
	
	.explore_bonds_list .single_bond_list p {
		font-size: 16px;
		max-width: calc(100% - 40px);
	}
	
	.explore_bonds_list .single_bond_list .single_bond_icon {
		width: 40px;
		height: 40px;
		padding: 6px;
	}
	
	.explore_bonds_list .single_bond_list p {
	}
	
	.explore_bonds_list .single_bond_list {
		flex-wrap: wrap;
	}
	
	.explore_bonds_list .single_bond_list .single_bond_icon img {
		max-height: 100%;
	}
	
	.explore_bonds_image {
		width: 45%;
	}
	
	.explore_bonds_content {
		width: 55%;
		padding-left: 40px;
	}
	
	.explore_bonds_buttons {
		margin-top: 40px;
	}
	
	.bonds_list_wrapper h2 {
		font-size: 28px;
	}
	
	.bonds_slider_item_wrapper {
		padding: 12px;
	}
	
	.bonds_slider_item_wrapper h3 {
		font-size: 18px;
	}
	
	.bond_details_list .bond_detail_item span {
		font-size: 14px;
	}
	
	.bond_details_list .bond_detail_item strong {
		font-size: 14px;
	}
	
	.bond_rating span {
		font-size: 12px;
		padding: 2px 10px 2px 30px;
	}
	
	.bonds_slider .slick-arrow.bond_prev {
		left: 0;
	}
	
	.bonds_slider .slick-arrow.bond_next {
		right: 0;
	}
	
	.bonds_calculator_wrapper h2 {
		font-size: 28px;
	}
	
	.calculator_result_bottom {
		padding: 24px;
		font-size: 18px;
	}
	
	.features_wrapper h2 {
		font-size: 28px;
		margin-bottom: 30px;
	}
	
	.feature_item .feature_item_icon img {
		max-width: 80px;
	}
	
	.feature_item span {
		font-size: 16px;
		font-weight: 500;
	}
	
	.portfolio_title {
		font-size: 28px;
	}
	
	.steps_slides .portfolio_slider_content {
		width: calc(100% - 323px);
	}
	
	.steps_slides .portfolio_slider_inner_content h3 {
		font-size: 20px;
	}
	
	.steps_slides .single_slider_desc {
		font-size: 16px !important;
	}
	
	.invest_wisely_wrapper h2 {
		font-size: 28px;
	}
	
	.invest_wisely_item .invest_wisely_content h3 {
		font-size: 24px;
	}
	
	.invest_wisely_item .invest_wisely_content p {
		font-size: 16px;
		margin-bottom: 30px;
	}
	
	.invest_wisely_item .invest_wisely_content {
		padding: 40px 20px;
	}
	
	.invest_wisely_item .invest_wisely_image {
		padding: 40px 40px;
	}
	
	.faqs_wrapper h2 {
		font-size: 28px;
	}
	
	.faq_question {
		font-size: 18px;
	}
	
	.faq_answer p, .faq_answer ul {
		font-size: 14px;
	}
}

@media (max-width: 767px) {
	.bonds_banner_image {
		width: 100%;
		order: 1;
	}
	
	.bonds_banner_content {
		width: 100%;
		order: 2;
		padding-top: 30px;
	}
	
	.bonds_banner_section {
		padding: 10px 0;
	}
	
	.bonds_banner_content .sub_heading span {
		font-size: 12px;
	}
	
	.bonds_banner_content h1 {
		font-size: 32px !important;
	}
	
	.banner_buttons {
		margin-top: 40px;
	}
	
	.mobile_hide {
		display: none;
	}
	
	.desktop_hide {
		display: block;
	}
	
	.explore_bonds_content {
		width: 100%;
		padding: 0;
	}
	
	.explore_bonds_content h2 {
		font-weight: 700;
	}
	
	.explore_bonds_section {
		padding-top: 60px;
	}
	
	.explore_bonds_list .single_bond_list p {
		font-size: 14px !important;
		padding-left: 14px;
	}
	
	.explore_bonds_list .single_bond_list .single_bond_icon {
		width: 35px;
		height: 35px;
	}
	
	.explore_bonds_list {
		padding-top: 15px;
	}
	
	.bonds_tabs_container {
		margin-top: 48px;
	}
	
	.bonds_tabs_buttons {
		margin: auto;
	}
	
	.bonds_tab_content_wrappr button {
		font-size: 12px;
		text-decoration-thickness: 1px;
		margin: auto;
		display: block;
	}
	
	.bonds_slider_container {
		margin-top: 0;
	}
	
	.bonds_slider .slick-list {
		padding: 20px 0 0 !important;
		box-shadow: 10px 8px 40px 0px rgba(0, 40, 82, .08);
	}
	
	.bonds_slider .slick-list:before {
		display: none;
	}
	
	.bonds_slider_item_wrapper {
		width: 100%;
	}
	
	.bonds_slider_item {
		/* padding: 30px; */
	}
	
	.bonds_slider {
		padding: 0 20px;
	}
	
	.bonds_slider .slick-arrow {
		width: 34px;
		height: 34px;
		font-size: 24px;
		top: 41%;
	}
	
	.bonds_slider_item_wrapper h3 {
		font-size: 16px;
	}
	
	.bonds_list_section {
		padding: 60px 0;
	}
	
	.bonds_calculator_wrapper h2 {
		text-align: center;
	}
	
	.bonds_calculator_form {
		width: 100%;
	}
	
	.bonds_calculator_result {
		width: 100%;
		padding: 0;
		margin-top: 26px;
	}
	
	.bonds_calculator_container {
		margin-top: 30px;
	}
	
	.calculation_range_input {
		display: none;
	}
	
	.units_range_steps {
		display: none;
	}
	
	.units_select_head {
		flex-wrap: wrap;
	}
	
	.bonds_calculator_form label {
		width: 100%;
	}
	
	.units_input_group button {
		display: block;
		font-size: 24px;
		padding: 5px 23px 7px;
		color: #002852;
		background-color: transparent;
		/* box-sizing: content-box; */
	}
	
	.units_input_group {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 186px;
		height: 40px;
		border: 2px solid #DFECF8;
		border-radius: 6px;
		margin-top: 8px;
	}
	
	.units_select_head input {
		border: none;
		width: 65px;
		text-align: center;
		padding: 14px 10px 12px;
		height: 36px;
	}
	
	.units_select_head input:focus-visible, .units_select_head input:focus {
		outline: none;
		border: none;
	}
	
	.calculator_result_progress {
		display: none;
	}
	
	.calculator_result_value label {
		font-size: 14px;
	}
	
	.calculator_result_value strong {
		font-size: 16px;
	}
	
	.calculator_result_bottom {
		font-size: 16px;
		padding: 14px 24px;
	}
	
	.bonds_calculator_section {
		padding-bottom: 40px;
	}
	
	.features_section {
		padding: 40px 0;
	}
	
	.features_wrapper h2 {
		line-height: 1.2;
		margin-bottom: 10px;
	}
	
	.features_list {
		flex-wrap: wrap;
	}
	
	.feature_item {
		max-width: 100%;
		width: 50%;
		box-sizing: border-box;
		padding: 20px 15px;
	}
	
	.feature_item .feature_item_icon img {
		max-width: 70px;
	}
	
	.feature_item span {
		font-size: 14px;
	}
	
	.steps_slides .portfolio_slider {
		width: 100% !important;
	}
	
	.steps_slides .portfolio_slider_content {
		width: 100%;
		margin-left: 0;
    	margin-top: 20px;
	}

	.steps_slides .portfolio_slider_inner_content {
		width: 100%;
		margin-left: 0;
	}

	.progressBar {
		display: none;
	}
	
	.invest_wisely_wrapper h2 {
		margin-bottom: 20px;
	}
	
	.invest_wisely_item .invest_wisely_image {
		width: 100%;
	}
	
	.invest_wisely_item .invest_wisely_content {
		width: 100%;
	}
	
	.invest_wisely_item .invest_wisely_content h3 {
		font-size: 20px;
	}
	
	.invest_wisely_item .invest_wisely_content p {
		font-size: 14px;
	}
	
	.invest_wisely_section {
		padding-bottom: 60px;
	}
	
	.faq_question {
		font-size: 14px;
	}
}


.slider-dots {
	height: 4px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
}
.slider-dots li {
	width: calc(33.33% - 8px);
    margin: 0 2px;
    height: 4px;
    vertical-align: unset;
}
.slider-dots button {
	position: relative;
    width: 100%;
    height: 4px;
    border: 0;
    background-color: #ccc;
    font-size: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    line-height: 0;
    vertical-align: unset;
}
.slider-dots button:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	display: block;
	width: 0%;
	height: 100%;
}
.slider-dots .slick-active button:after {
	background-color: #000;
	animation: progress 5.5s linear forwards;
}
@keyframes progress {
	from {
		width: 0%;
   }
	to {
		width: 100%;
   }
}