.page-template-page-stock-collections .site-content > .ast-container, .collections-template-default .site-content > .ast-container {
    max-width: 100%;
    padding: 0;
}
.page-template-page-stock-collections .container {
    max-width: 1200px;
}
.collection_page_banner {
    padding: 66px 0 189px;
}
.collection_page_banner.page_template_banner {
    padding: 31px 0 0;
}
.collection_page_banner.smaller {
    padding: 50px 0;
}
.banner_content_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner_content_col {
    width: 50%;
}

.banner_img_col {
    max-width: 50%;
}

.banner_content_col .small_heading {
    font-size: 17.78px;
    color: #262626;
    line-height: 28.89px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

.banner_content_col .small_heading span {
    width: 22px;
    height: 22px;
    background: #754FE1;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
    position: relative;
    top: -2px;
    font-size: 14px;
    line-height: 20px;
}

.banner_content_col h1 {
    margin: 24px 0;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #002852;
}

.banner_content_col h1.mt_0 {
    margin-top: 0;
}

.banner_content_col .banner_desc {
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: -0.36px;
    color: #505A64;
    margin-bottom: 0;
    max-width: 479px;
}

.stocks_list_collections {
    background-color: #EEF5FC;
    padding: 63px 0;
}

.stocks_list_collections .section_title {
    color: #002852;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}

.main_collections_list {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 31px;
    row-gap: 33px;
}

.main_collections_list .single_collection {
    width: calc(33.33% - 20.66px);
    background: #fff;
    padding: 24px;
    border-radius: 17.89px;
    border: 1px solid #E5F4F2;
}

.main_collections_list .single_collection .single_collection_img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .main_collections_list .single_collection .single_collection_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.main_collections_list .single_collection .single_collection_title {
    margin: 8px 0 4px;
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
    color: #021930;
}

.main_collections_list .single_collection .single_collection_desc {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #737373;
    margin: 0;
}

.main_collections_list .single_collection .collections_categories {
    margin: 24px 0 0 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.main_collections_list .single_collection .collections_categories .single_collection_category {
    display: inline-block;
    padding: 1px 8px;
    border: 1px solid #E5E9EE;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    transition: all .3s;
    color: #262626;
}

.main_collections_list .single_collection .collections_categories .single_collection_category a {
    color: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.main_collections_list .single_collection .collections_categories .single_collection_category:hover {
    background: #002852;
    color: #fff;
}

.btn_dark {
    padding: 16px 21px;
    border-radius: 5px;
    background: #002852;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 1px solid #002852;
    transition: all 0.3s;
    display: inline-block;
    margin-top: 24px;
}

.btn_dark:hover {
    background: #fff;
    color: #002852;
}

.collection_breadcrumb p {
    margin: 0;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 22.2px;
    font-weight: 500;
    color: #505A64;
}

.collection_breadcrumb p .divider {
    margin: 0 5px;
    display: inline-block;
}

.collection_breadcrumb p a {
    color: inherit;
}

.collection_breadcrumb p a:hover {
    color: #002852;
}

.collection_breadcrumb p span.current_page {
    color: #021930;
}

.explore_market_leaders {
    padding: 50px 0;
    background-color: #EEF5FC;
}

.market_leaders_row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.market_leaders_col {
    width: 275px;
}

.market_table_col {
    width: calc(100% - 330px);
    margin-left: auto;
}

.market_leaders_col h2 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    color: #000;
    margin-bottom: 24px;
}

.market_leaders_col ul {
    margin: 0;
    padding: 0;
}

.market_leaders_col ul li {
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #262626;
    transition: all .3s;
}

.market_leaders_col ul li:not(:last-child) {
    margin-bottom: 5px;
}

.market_leaders_col ul li a {
    color: inherit;
    padding: 12px;
    display: block;
    border-radius: 6px;
    transition: all .3s;
}

.market_leaders_col ul li.current a {
    background: #002852;
    color: #F3F4F6;
}

.market_leaders_col ul li:hover a {
    background: #002852;
    color: #F3F4F6;
}

.collections-template-default .site-content > .ast-container .container {
    max-width: 1210px;
}

.market_table_headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 27px;
}

.market_table_name h3 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}

.market_table_name p {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #000;
}

.market_table_search {
    max-width: 315px;
    width: 100%;
}

.market_table_search input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #99A9BA;
    background: #fff;
    outline: none !important;
}

.market_table_search input:focus {
    color: #99A9BA;
}

.market_table_search input::placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #99A9BA;
}

.market_table_search input:focus {
    border: 1px solid #D1D5DB !important;
}

.table_sort_overlay, .table_sort_options {
	z-index: 999;
}

.market_table_col_wrap {
    background: #fff;
    padding: 33px 27.5px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

#stocks-table {
    border: none;
}

#stocks-table td {
    border-right: none;
    padding: 16px 10px;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    font-weight: 400;
    border-color: #D9D9D9 !important;
}

.stock_symbol_img {
    width: 32px;
    height: 32px;
}

.stock_symbol_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stock_name {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
}

.stock_name p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.stock_name p a {
    color: inherit;
}

.stock_name span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #737373;
}

.stock_symbol_wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

#stocks-table th {
    border-right: none;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    font-weight: 600;
    padding: 14px 10px;
    border-color: #D9D9D9 !important;
}

#stocks-table th:first-of-type,
#stocks-table td:first-of-type {
    min-width: 190px;
    max-width: 200px;
}

#stocks-table th, #stocks-table td {
    min-width: 100px;
}

#stocks-table th:nth-child(3), #stocks-table td:nth-child(3) {
    min-width: 120px;
}

#stocks-table th:nth-child(4), #stocks-table td:nth-child(4) {
    min-width: 100px;
}

.stocks_table_wrap {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

.stock_change  {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #0CC81F;
}

strong.stock_change.minus_value {
    color: #B92406;
}

#stocks-table tr:last-child td {
    border-bottom: none;
}

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#pagination .page-link {
    display: inline-flex;
    min-width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.88);
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 5px;
    transition: all .3s;
}

#pagination .page-link:hover, #pagination .page-link.active {
    font-weight: 600;
    color: #002852;
    border-color: #002852;
}

#pagination .page-link.disabled:hover {
    border-color: transparent;
}

.strategies_sec {
    padding: 50px 0;
}

.sec_title {
    font-size: 38px;
    font-weight: 800;
    line-height: 45.6px;
    text-align: center;
    color: #002852;
}

c {
    margin: 60px 0;
}

.strategies_query .que {
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    color: #002852;
    margin-bottom: 14px;
}

.strategies_query {
    margin: 60px 0;
}

.strategies_query  .ans {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 21.6px;
    color: #505A64;
    font-weight: 500;
}

.strategies_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.strategies_wrap .strategies_col {
    width: calc(50% - 30px);
}

.strategies_wrap .strategies_col .strategies_col_title {
    background-color: #D4E7FF;
    border-bottom: 1px solid #0000000F;
    padding: 16px;
    color: #000000E0;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}

.strategies_wrap .strategies_col 
 .strategies_points {
    border: 1px solid #D1D5DB;
    padding: 20px;
    height: calc(100% - 55px);
    border-radius: 0 0 8px 8px;
}

.strategies_wrap .strategies_col .strategies_col_wrap {
    height: 100%;
}

.strategies_wrap .strategies_col .strategies_points .single_strategy_point {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: #2D2D2D;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}

.strategies_wrap .strategies_col .strategies_points 
 .single_strategy_desc {
    font-size: 18px;
    line-height: 27px;
    color: #505A64;
    font-weight: 500;
    margin-bottom: 16px;
}

.strategies_wrap .strategies_col .strategies_points .single_strategy_desc:last-of-type {
    margin-bottom: 0;
}   

.investment_terms_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
    position: relative;
}

.investment_term_col {
    width: calc(50% - 32px);
    background: #D4E7FF;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    padding: 20px;
}

.versus_circle {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #fff;
    border: 1px solid #D1D5DB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.investments_terms_sec {
    padding: 50px 0;
}

.investment_term_col:first-of-type {
    padding-right: 40px;
}

.investment_term_col:nth-of-type(3) {
    padding-left: 40px;
}

.investment_term_col_wrap * {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #262626;
}

.investment_term_col_wrap *:last-of-type {
    margin-bottom: 0;
}

.cta-sec {
    padding: 50px 0;
}

.cta_wrapper {
    background: #002752;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    height: 290px;
    padding: 0 89px;
}

.cta_wrapper:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(211.75deg, #3569E5 -77.16%, rgba(53, 105, 229, 0) 44.6%);
    top: 0;
    left: 0;
    transform: rotate(180deg);
    z-index: 0;
}

h2.cta_title {
    font-size: 40px;
    line-height: 45px;
    font-weight: 400;
    color: #fff;
    max-width: 60%;
}

.cta_btn {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.04em;
    color: #fff;
    background: #0CC786;
    border-radius: 4px;
    padding: 13px 55px;
    border: 1px solid #0CC786;
}

.cta_btn:hover {
    background: transparent;
    color: #0CC786;
}

.post_type_list {
    padding: 60px 0 40px;
}

.post_listing {margin-top: 75px;}

.post_listing .posts_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post_listing .posts_wrap .single_post {
    width: calc(33.33% - 16px);
}

.post_listing .posts_wrap .single_post .single_post_img {
    height: 154px;
    overflow: hidden;
    border-radius: 6px;
}

.post_listing .posts_wrap .single_post .single_post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post_listing .posts_wrap .single_post h4 {
    margin-top: 18px;
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 500;
    color: #212529;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.post_listing .posts_wrap .single_post h4:hover {
    color: #002852;
}

.post_listing .btn_dark {
    margin-top: 40px;
}

.post_type_list .btn_dark {
    margin-top: 40px;
}

.post_type_list  .btn {
    text-align: center;
}

.faqs_sec {
    padding: 40px 0 80px;
}

.faqs_sec .sec_title {
    padding: 24px 0;
}

.faqs_wrap {
    max-width: 848px;
    margin-left: auto;
    margin-right: auto;
}

.faqs_wrap .single_faq {
    padding: 24px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.faqs_wrap .single_faq .faq_que h4 {
    color: #212529;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
}

.faqs_wrap .single_faq .faq_que:after {
    content: "\f078";
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    right: 0px;
    color: #212529;
    transition: transform 0.3s;
}

.faqs_wrap .single_faq .faq_content p {
    margin-bottom: 0;
    color: #1e2022;
    font-family: Inter;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.faqs_wrap .single_faq .faq_content {
    margin-top: 28px;
}

.table_mobile_sort {
    display: none;
}

@media (max-width: 1024px) {
    .cta_wrapper {
        padding: 0 40px;
    }
    .cta_btn {
        padding: 9px 35px;
        font-size: 24px;
        line-height: 32px;
    }
    h2.cta_title {
        font-size: 30px;
        line-height: 35px;
    }
}

@media (max-width: 767px) {
    .ast-separate-container #content .ast-container {
        padding-left: 0;
        padding-right: 0;
    }
    .collection_page_banner, .collection_page_banner.page_template_banner {
        padding: 30px 0; 
    }
    .banner_content_col {
        width: 100%;
    }
    .banner_img_col {
        max-width: 100%;
        width: 100%;
        text-align: center;
        display: none;
    }
    .banner_content_col .small_heading {
        font-size: 12px;
        line-height: 13.2px;
        letter-spacing: -0.04em;
        display: flex;
        align-items: center;
    }
    .banner_content_col .small_heading span {
        width: 34px;
        height: 34px;
        font-size: 18px;
    }
    .banner_content_col h1 {
        font-size: 32px !important;
        line-height: 35.2px;
        font-weight: 800;
    }
    
    .banner_content_col .banner_desc {
        font-size: 14px;
        line-height: 20px;
    }
    .stocks_list_collections {
        padding: 24px 9px;
    }
    
    .stocks_list_collections .section_title {
        text-align: center;
        font-size: 22px !important;
        line-height: 24.2px;
        font-weight: 800;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main_collections_list {
        margin-top: 24px;
        row-gap: 24px;
    }
    
    .main_collections_list .single_collection {
        width: 100%;
    }
    
    .main_collections_list .single_collection .single_collection_title {
        font-size: 20px;
        line-height: 32px;
    }

    .collection_page_banner.smaller {
        padding: 30px 0;
    }
    
    .collection_breadcrumb {
        display: none;
    }
    
    .collection_page_banner.smaller .banner_img_col {
        display: inline-block;
        margin-top: 27px;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .banner_content_col h1.mt_0 {
        font-size: 32px !important;
    }
    
    .collection_page_banner.smaller .btn_dark {
        display: none;
    }
    
    .explore_market_leaders {
        padding: 24px 0;
    }
    
    .market_leaders_col h2 {
        color: #002852;
        text-align: center;
        max-width: 245px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .market_leaders_col ul li {
        font-size: 16px !important;
        line-height: 19.36px;
    }
    
    .market_leaders_col {
        width: 100%;
    }
    
    .market_table_col {
        width: 100%;
        margin-top: 24px;
    }
    
    .market_table_col_wrap {
        /* padding: 33px 20px; */
        padding: 20px 14px;
    }
    
    .market_table_headings {
        margin-bottom: 16px;
    }
    
    .market_table_search {
        margin-top: 16px;
        max-width: 100%;
    }

    #stocks-table th:nth-child(1), #stocks-table td:nth-child(1) {
        text-align: left;
    }
    
    #stocks-table td {
        padding: 10px 6px;
        font-size: 14px;
        line-height: 16px;
    }
    
    #stocks-table th {
        padding: 10px 6px;
    }

    .stock_symbol_wrap {
        align-items: flex-start;
    }
    
    .stock_symbol_img {
        margin-top: 3px;
    }
    
    #stocks-table th, #stocks-table td {
        text-align: end;
    }
    
    .stock_change {
        font-size: 12px;
        line-height: 15px;
    }
    
    .stock_name span {
        font-size: 12px;
        line-height: 16px;
    }

    .stock_name p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
        font-size: 14px;
        line-height: 16px;
    }

    .table_mobile_sort {
        display: inline-block;
    }

    .table_sort_options {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        border-radius: 10px 10px 0 0;
        padding: 24px;
    }

    .table_sort_options:after {
        content: '';
        position: absolute;
        width: 39px;
        height: 6px;
        border-radius: 16px;
        background-color: #C8CFD8;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
    }

    .sort_title {
        font-size: 16px;
        line-height: 22.4px;
        color: #1F2937;
        font-weight: 600;
        padding: 12px 0;
    }
    
    .table_sort_options ul {
        margin: 0;
        padding: 0;
    }
    
    .table_sort_options ul li {
        list-style: none;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #1F2937;
        padding: 4px 12px;
        border-radius: 6px;
        position: relative;
    }

    .table_sort_options ul li.active {
        background: #EFF6FF;
    }

    .table_sort_options ul li.active:after {
        content: '\f00c';
        font-family: 'FontAwesome';
        position: absolute;
        color: #3B82F6;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }

    .table_sort_overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
    }

    #stocks-table th, #stocks-table td {
        min-width: 120px;
    }

    .strategies_sec {
        padding: 32px 0;
    }
    
    .sec_title {
        font-size: 22px !important;
        line-height: 24.2px;
    }
    
    .strategies_query {
        margin: 24px 0;
    }
    
    .strategies_query .que {
        font-size: 15px;
        line-height: 19.2px;
        margin-bottom: 8px;
    }
    
    .strategies_query .ans {
        font-size: 14px;
        line-height: 16.8px;
    }
    
    .strategies_wrap .strategies_col {
        width: 100%;
    }
    
    .strategies_wrap .strategies_col.risks {
        margin-top: 24px;
    }
    
    .strategies_wrap .strategies_col .strategies_points {
        height: auto;
        padding: 11.42px;
    }
    
    .investment_term_col {
        width: 100%;
        min-height: 165px;
    }
    
    .strategies_wrap .strategies_col .strategies_col_title {
        font-size: 12px;
        line-height: 12.57px;
        padding: 8.92px 9.14px;
    }
    
    .strategies_wrap .strategies_col .strategies_points .single_strategy_point {
        font-size: 12px;
        line-height: 15.6px;
        margin-bottom: 5px;
    }
    
    .strategies_wrap .strategies_col .strategies_points .single_strategy_desc {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 9px;
    }

    .investments_terms_sec {
        padding: 0;
    }
    
    .investments_terms_sec .sec_title br {
        display: none;
    }
    
    .investment_terms_wrap {
        margin-top: 24px;
    }
    
    .investment_term_col {
        padding: 10px 11.42px;
    }
    
    .investment_term_col:first-of-type {
        padding-right: 17px;
        padding-bottom: 20px;
    }
    
    .investment_term_col_wrap * {
        font-size: 13.71px;
        line-height: 20.56px;
        margin-bottom: 16px;
    }
    
    .investment_term_col:nth-of-type(3) {
        margin-top: 38px;
        padding-left: 17px;
        padding-top: 20px;
    }
    
    .versus_circle {
        width: 68px;
        height: 68px;
        font-size: 13px;
        line-height: 20px;
    }
    
    .cta-sec {
        padding: 32px 0;
    }
    
    .cta_wrapper {
        border-radius: 6px;
        height: auto;
        padding: 22px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    
    h2.cta_title {
        font-size: 13px !important;
        line-height: 19px;
        max-width: 100%;
    }

    h2.cta_title br {
        display: none;
    }
    
    .cta_wrapper:before {
        display: none;
    }
    
    .cta_btn {
        font-size: 12px;
        line-height: 14px;
        padding: 9px 13px;
    }

    .post_type_list {
        padding: 0;
    }

    .faqs_wrap .single_faq .faq_content {
        margin-top: 15px;
    }

    .post_listing .posts_wrap .single_post h4 {
        font-size: 16px;
        line-height: 23px;
    }

    .post_type_list .sec_title {
        text-align: left;
        padding: 0 24px;
    }
    
    .post_listing {
        margin-top: 30px;
        padding: 0 0 0 24px;
    }

    .post_listing .posts_wrap .slick-list {
        padding: 0 7% 0 0;
    }

    .post_listing .posts_wrap .single_post {
        padding-right: 24px;
    }
    
    .post_type_list .btn_dark {
        margin-top: 30px;
        font-size: 14px;
        line-height: 17px;
        padding: 12px 20px;
    }

    .post_type_list .btn {
        padding-bottom: 16px;
    }
    
    .faqs_sec {
        padding: 32px 0;
    }
    
    .faqs_sec .sec_title {
        padding: 0;
    }
    
    .faqs_wrap .single_faq {
        padding: 20px 16px;
    }
    
    .faqs_wrap .single_faq .faq_que h4 {
        font-size: 14px;
        line-height: 17px;
        padding-right: 10px;
    }
    
    .faqs_wrap .single_faq .faq_content p {
        font-size: 12px !important;
        line-height: 15.6px;
    }
    
    .faqs_wrap .single_faq .faq_content ul, .faqs_wrap .single_faq .faq_content ol {
        font-size: 12px !important;
        line-height: 15.6px;
    }
}