.page-template-page-pricing .ast-container {
    padding: 0;
}

.page-template-page-pricing .container {
    max-width: 1064px;
    margin: 0 auto;
    padding: 0 24px;
}
.pricing-page {
    width: 100%;
}
.pricing-info {
    padding-top: 105px;
}
.pricing-info .row {
    display: flex;
    flex-wrap: wrap;
}
.pricing-info .content {
    width: 45%;
    padding-right: 19px;
}
.pricing-info .content h2 {
    color: #002852;
    font-size: 30px;
    font-weight: 800;
    line-height: 120%;
    
    margin: 0 0 11px 0;
}
.pricing-info .content p {
    color: #505A64;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    max-width: 351px;
}
[lang="en-in"] .pricing-info .content p {
    font-size: 30px;
}
.pricing-info .plan-box {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    position: relative;
}
.pricing-info .plan-box:before {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom,rgba(255,255,255,0) -10px,#fff 100%);
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
}
.pricing-info .plan-box .box {
    border-radius: 5px;
    border: 1px solid #5082FF;
    padding: 71px 30px 30px;
    width: calc(50% - 7px);
    position: relative;
}
.pricing-info .plan-box .box.premium-plan {
    margin-left: 7px;
}
.pricing-info .plan-box .box.basic-plan {
    margin-right: 7px;
}
.pricing-info .plan-box .box h2 {
    color: #002852;
    font-size: 18px !important;
    font-weight: 500;
    line-height: 120%;
    
}
.pricing-info .plan-box .box span {
    color: #002852;
    
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    display: block;
    margin: 6px 0 16px;
}
.pricing-info .plan-box .box span.quarterly {
    display: none;
}
.pricing-info .plan-box .box span sub {
    font-size: 18px;
}
.pricing-info .plan-box .box a {
    padding: 16px 21px;
    display: block;
    border: 1px solid #002852;
    text-align: center;
    border-radius: 5px;
    background: #002852;
    line-height: normal;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    
    position: relative;
    z-index: 1;
}
.pricing-info .plan-box .box a:hover {
    background: transparent;
    color: #002852;
}
.pricing-info .plan-box .box .recommended {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #5082FF;
    padding: 12px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing-info .plan-box .box .recommended img {
    margin-right: 9px;
}
.pricing-info .plan-box .plan-selection {
    border-radius: 5px;
    background: #F2F8FF;
    display: flex;
    align-items: center;
    padding: 3px;
    border: 1px solid #DAEAFE;
    margin-bottom: 24px;
}
.pricing-info .plan-box .plan-selection input[type="radio"] {
    display: none;
}
.pricing-info .plan-box .plan-selection label {
    
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 6px 14px;
    display: inline-flex;
    margin-bottom: 0;
    cursor: pointer;
    transition: all 0.3s;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: rgba(31, 41, 55, 0.50);
    border: 1px solid transparent;
    width: 100%;
}
.pricing-info .plan-box .plan-selection input[type="radio"]:checked + label {
    border-radius: 4px;
    border-color: #DAEAFE;
    background: #fff;
    color: #1F2937;
}
.pricing-info .plan-box .box .basic-plan-selection {
    margin-bottom: 24px;
}
.pricing-info .plan-box .box .basic-plan-selection label {
    padding: 9px 14px;
    border-radius: 5px;
    border: 1px solid #DAEAFE;
    background: #F2F8FF;
    display: inline-block;
    color: #1F2937;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.pricing-info .plan-box .plan-selection .single-plan-button {
    position: relative;
    width: 50%;
}
.pricing-info .plan-box .plan-selection .save {
    border-radius: 65px;
    background: #0CC786;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.13);
    padding: 4px 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    
}
.pricing-info .mobile-tab {
    display: none;
}
.pricing-info .mobile-tab p {
    border-radius: 30px;
    border: 1px solid #CCD4DC;
    color: #767C83;
    text-align: center;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    padding: 10px 25px;
    margin: 0 6px 31px;
}
.pricing-info .mobile-tab p.active {
    background: #002852;
    color: #fff;
    border-color: #002852;
}
.pricing-table {
    padding-bottom: 70px;
}
.pricing-table .pricing-tabs {
    display: flex;
    padding: 0;
    margin: 0 0 21px 0;
    list-style-type: none;
    overflow: auto;
    white-space: nowrap;
}
.pricing-table .pricing-tabs li {
    display: inline-block;
}
.pricing-table .pricing-tabs li a {
    padding: 10px 16px;
    border-radius: 4px;
    color: #1F2937;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    
    outline: none;
    display: inline-block;
}
.pricing-table .pricing-tabs li.active a {
    background: #F2F8FF;
}
.pricing-table .pricing-tabs-content {
    border-radius: 6px;
    background: #F2F8FF;
    padding: 10px 10px 10px 60px;
}
.pricing-table .pricing-tabs-content .head-part {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
}
.pricing-table .pricing-tabs-content .head-part .inner {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pricing-table .pricing-tabs-content .head-part .inner .stock {
    display: flex;
    align-items: center;
    margin-right: 19px;
    position: relative;
}
.pricing-table .pricing-tabs-content .head-part .inner .stock img {
    max-width: 28px;
    position: absolute;
    left: -30px;
}
.pricing-table .pricing-tabs-content .head-part .inner .stock strong {
    color: #1F2937;
    
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 0;
    padding-left: 15px;
}
.pricing-table .pricing-tabs-content .head-part .inner .currency {
    padding: 10px;
    background: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    height: 36px;
}
.pricing-table .pricing-tabs-content .head-part .inner .currency img {
    max-width: 24px;
}
.pricing-table .pricing-tabs-content .head-part .inner .currency span {
    margin-left: 8px;
    color: #1F2937;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.pricing-table .pricing-tabs-content .head-part .empty-space {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.pricing-table .pricing-tabs-content .head-part .empty.second {
    background: #fff;
}
.pricing-table .pricing-tabs-content .head-part .empty {
    height: 100%;
    width: 50%;

}
.pricing-table .pricing-tabs-content .item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
    position: relative;
}
.pricing-table .pricing-tabs-content .item:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(33, 37, 41, 0.10);
    width: calc(100% - 26px);
}
.pricing-table .pricing-tabs-content .item:last-child:before {
    border-bottom: none;
}
.pricing-table .pricing-tabs-content .item .heading .tooltip {
    display: inline;
    position: relative;
    margin-left: 5px;
}
.pricing-table .pricing-tabs-content .item .tooltip-content {
    border-radius: 6px;
    background: #fff;
    padding: 24px;
    position: absolute;
    z-index: 1;
    width: 334px;
    left: 33px;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
.pricing-table .pricing-tabs-content .item .tooltip-content h4 {
    color: #1F2937;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    
    margin: 0 0 12px 0;
}
.pricing-table .pricing-tabs-content .item .tooltip-content p {
    margin: 0;
    color: #1F2937;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    overflow: auto;
}
.pricing-table .pricing-tabs-content .item .tooltip-content button.ok-btn {
    border-radius: 30px;
    background: #002852;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 27px;
    display: none;
}
.pricing-table .pricing-tabs-content .item .tooltip-content .line {
    width: 93px;
    height: 6px;
    border-radius: 12px;
    background: #D9D9D9;
    margin: 0 auto 14px;
    display: none;
}
.pricing-table .pricing-tabs-content .item .heading .tooltip:hover .tooltip-content {
    opacity: 1;
    visibility: visible;
}
.pricing-table .pricing-tabs-content .item .heading {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    padding: 27px 15px;
    background: #f2f8ff;
    align-items: center;
}
.pricing-table .pricing-tabs-content .item .heading .inner {
    display: inline-flex;
    width: 100%;
}
.pricing-table .pricing-tabs-content .item .heading .icon {
    width: 40px;
    padding-right: 14px;
    text-align: center;
}
.pricing-table .pricing-tabs-content .item .price-detail {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
.pricing-table .pricing-tabs-content .item .price-detail .info {
    width: 50%;
    padding: 27px;
    text-align: center;
    line-height: normal;
}
.pricing-table .pricing-tabs-content .item .price-detail .info .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.pricing-table .pricing-tabs-content .item .price-detail .info.quarterly {
    display: none;
}
.pricing-table .pricing-tabs-content .item .price-detail .info.second {
    background: #fff;
}
.pricing-table .pricing-tabs-content .item .heading .inside {
    width: calc(100% - 40px);
}
.pricing-table .pricing-tabs-content .item .heading h3 {
    color: #1F2937;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    padding: 0;
    display: inline;
}
.pricing-table .pricing-tabs-content .item .heading img.info-icon {
    cursor: pointer;
    max-width: 20px;
}
.pricing-table .pricing-tabs-content .item .price-detail .info p {
    color: #1F2937;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    margin: 0 0 12px 0;
}
.pricing-table .pricing-tabs-content .item .price-detail .info span {
    color: #6B7280;
    text-align: center;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.pricing_page_faqs {
    padding: 100px 0 170px;
}
.page-template-page-pricing .pricing_page_faqs .container {
    max-width: 878px;
}
.pricing_page_faqs h2 {
    color: #002852;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.52px;
    
    padding: 24px 0 40px;
}
.pricing_page_faqs .pricing_page_faq_wrap .single_faq {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}
.pricing_page_faqs .pricing_page_faq_wrap .faq_que {
    padding: 16px;
    position: relative;
    cursor: pointer;
    margin: 12px 0;
}
.pricing_page_faqs .pricing_page_faq_wrap .faq_que.active:before {
    transform: rotate(-180deg);
}
.pricing_page_faqs .pricing_page_faq_wrap .faq_que:before {
    content: "";
    position: absolute;
    right: 16px;
    background-image: url('../../images/chevron-down.png');
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-position: center;
    margin-top: 3px;
    transition: 0.3s all;
}
.pricing_page_faqs .pricing_page_faq_wrap .faq_content {
    display: none;
    padding: 0 16px 28px;
}
.pricing_page_faqs .pricing_page_faq_wrap .faq_que h3 {
    color: #212529;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    padding-right: 25px;
}
.pricing_page_faqs .pricing_page_faq_wrap .faq_content p {
    color: #1E2022;
    
    font-size: 22px;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
}

.pricing-sticky {
    border-top: 1px solid #E0E8F1;
    padding: 16px 0;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.09);
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
    background: #fff;
    z-index: 2;
}
.pricing-sticky.fixed {
    position: fixed;
    opacity: 1;
    visibility: visible;
    top: 0;
}
.pricing-sticky .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pricing-sticky .sticky-tab ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    white-space: nowrap;
    overflow: auto;
}
.pricing-sticky .sticky-tab ul li a {
    display: inline-block;
    padding: 10px;
    color: rgba(31, 41, 55, 0.40);
    
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    outline: none;
}
.pricing-sticky .sticky-tab ul li.active a {
    border-radius: 6px;
    background: #F2F8FF;
    color: #1F2937;
}
.pricing-sticky .sticky-plan {
    display: flex;
    flex-wrap: wrap;
}
.pricing-sticky .sticky-plan .plan h3 {
    color: #1F2937;
    
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.pricing-sticky .sticky-plan .plan span {
    color: #1F2937;
    
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
.pricing-sticky .sticky-plan .plan span.quarterly {
    display: none;
}
.pricing-sticky .sticky-plan .plan:last-child {
    padding-left: 130px;
}

@media only screen and (max-width: 1199px) {
    .pricing-info .content p {
        font-size: 28px;
    }
    [lang="en-in"] .pricing-info .content p {
        font-size: 26px;
    }
    .pricing-info .plan-box .box {
        padding: 71px 20px 30px;
    }
    .pricing-info .plan-box .box a {
        padding: 12px 21px;
        font-size: 14px;
    }
    .pricing-info .plan-box .plan-selection label {
        font-size: 14px;
    }
    .pricing-info .plan-box .box .basic-plan-selection label {
        font-size: 14px;
    }
    .pricing-table .pricing-tabs-content .head-part .inner .stock strong {
        font-size: 16px;
    }
    .pricing-table .pricing-tabs-content .head-part .inner .stock img {
        max-width: 24px;
    }
    .pricing-table .pricing-tabs-content .head-part .inner .currency img {
        max-width: 21px;
    }
    .pricing-table .pricing-tabs-content .head-part .inner .currency span {
        font-size: 14px;
        line-height: normal;
    }
    .pricing-table .pricing-tabs-content .item .heading h3 {
        font-size: 16px;
    }
    .pricing-table .pricing-tabs-content .item .price-detail .info p {
        margin: 0 0 6px 0;
    }
    .pricing-table .pricing-tabs-content .item .price-detail .info span {
        font-size: 12px;
    }
    .pricing-table .pricing-tabs-content .item .price-detail .info img {
        max-width: 22px;
    }
    .pricing_page_faqs {
        padding: 0 0 70px;
    }
}

@media only screen and (max-width: 991px) {
    .pricing-info {
        padding-top: 60px;
    }
    .pricing-info .content {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
    .pricing-info .content h2 {
        font-size: 32px;
        margin: 0 auto 15px;
        max-width: 320px;
    }
    .pricing-info .content p {
        font-size: 14px;
        margin: 0 auto 60px;
        max-width: 257px;
    }
    [lang="en-in"] .pricing-info .content p {
        font-size: 14px;
    }
    .pricing-info .plan-box {
        width: 100%;
        justify-content: center;
    }
    .pricing-info .mobile-tab {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .pricing-info .plan-box .box.premium-plan {
        display: none;
    }
    .pricing-info .plan-box .box {
        width: 100%;
        max-width: 65.333vw;
    }
    .pricing-info .plan-box .box {
        padding: 24px 16px;
        text-align: center;
        min-height: 291px;
    }
    .pricing-info .plan-box .box h2 {
        font-size: 14px !important;
    }
    .pricing-info .plan-box .box span {
        font-size: 32px;
        margin: 9px 0 16px;
    }
    .pricing-info .plan-box .box .basic-plan-selection label {
        padding: 9.5px 30px;
        line-height: normal;
    }
    .pricing-info .plan-box .box.basic-plan {
        margin-right: 0;
    }
    .pricing-info .plan-box .box.premium-plan {
        margin-left: 0;
        padding-top: 66px;
    }
    .pricing-table .pricing-tabs-content .head-part .empty-space {
        width: 40%;
    }
    .pricing-table .pricing-tabs-content .head-part .inner {
        width: 60%;
        padding-right: 26px;
    }
    .pricing-table .pricing-tabs-content .item .price-detail {
        width: 50%;
    }
    .pricing-table .pricing-tabs-content .item .price-detail .info {
        padding: 17px;
    }
    .pricing-table .pricing-tabs-content .item .heading h3 {
        font-size: 14px;
    }
    .pricing-table .pricing-tabs-content .item .price-detail .info p {
        font-size: 14px;
    }
    .pricing-table .pricing-tabs li a {
        font-size: 14px;
    }
    .pricing-sticky .sticky-tab {
        width: 100%;
        order: 2;
    }
    .pricing-sticky .sticky-plan .plan.second {
        display: none;
        padding: 0;
    }
    .pricing-sticky .sticky-plan {
        width: 100%;
        padding: 26px 0;
        justify-content: center;
    }
    .pricing-sticky .sticky-tab ul {
        justify-content: center;
    }
    .pricing-sticky .sticky-tab ul li a {
        padding: 10px 16px;
        font-size: 14px;
    }
    .page-template-page-pricing .pricing-sticky .container {
        padding: 0 14px;
    }
    .pricing-table .pricing-tabs-content .item:before {
        left: -60px;
        width: calc(100% + 60px);
    }
    .pricing-table .pricing-tabs-content .head-part .empty.first {
        background: #fff;
    }
    .pricing-table .pricing-tabs-content .item .price-detail .info.first {
        background: #fff;
    }
    .pricing-table .pricing-tabs-content .item .price-detail .info.second {
        display: none;
    }
    .pricing-table .pricing-tabs-content .head-part .empty.second {
        display: none;
    }
    .pricing-table .pricing-tabs-content .head-part .empty {
        width: 100%;
    }
    .pricing-table .pricing-tabs-content .item .price-detail .info {
        width: 100%;
    }
    .pricing-table .pricing-tabs-content .item .heading {
        width: 60%;
        padding: 17px 17px 17px 20px;
    }
    .pricing-table .pricing-tabs-content .item .price-detail {
        width: 40%;
    }
}

@media only screen and (max-width: 767px) {
    body.tooltip-open {
        overflow: hidden;
    }
    .pricing-table .pricing-tabs-content {
        padding: 10px;
    }
    .page-template-page-pricing .pricing-table .container {
        padding: 0;
    }
    .pricing-table .pricing-tabs-content .head-part .inner .stock img {
        max-width: 21px;
    }
    .pricing-table .pricing-tabs-content .head-part .inner .stock strong {
        padding-left: 31px;
    }
    .pricing-table .pricing-tabs-content .head-part .inner .stock {
        margin-right: 9px;
    }
    .pricing-table .pricing-tabs-content .head-part .inner .stock img {
        left: 0;
    }
    .pricing-table .pricing-tabs-content .item .heading {
        padding: 17px 5px 17px 17px;
    }
    .pricing-table .pricing-tabs-content .item .heading .icon {
        width: 24px;
        padding-right: 10px;
    }
    .pricing-table .pricing-tabs-content .item .heading .inside {
        width: calc(100% - 30px);
    }
    .pricing-table .pricing-tabs-content .item .heading img.info-icon {
        max-width: 13px;
    }
    .pricing-table .pricing-tabs {
        padding: 20px 16px 0;
    }
    .pricing_page_faqs h2 {
        padding: 0 0 40px;
        font-size: 22px;
    }
    .pricing_page_faqs .pricing_page_faq_wrap .faq_que h3 {
        font-size: 14px;
    }
    .pricing_page_faqs .pricing_page_faq_wrap .faq_content p {
        font-size: 12px;
    }
    .pricing_page_faqs .pricing_page_faq_wrap .faq_que:before {
        margin-top: 0;
    }
    .pricing_page_faqs .container {
        padding: 0 16px;
    }
    .pricing-table .pricing-tabs-content .item .tooltip-content .line {
        display: block;
    }
    .pricing-table .pricing-tabs-content .item .tooltip-content button.ok-btn {
        display: block;
    }
    .pricing-table .pricing-tabs-content .item .tooltip-content {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        opacity: 1;
        visibility: visible;
        top: unset;
        box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.14);
        transform: translateY(100%);
        z-index: 999;
    }
    .pricing-table .pricing-tabs-content .item .heading .tooltip.active .tooltip-content {
        transform: translateY(0);
    }
    .pricing-table .pricing-tabs-content .item .heading .tooltip .overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 99;
        background: rgba(255, 255, 255, 0.70);
        opacity: 0;
        visibility: hidden;
    }
    .pricing-table .pricing-tabs-content .item .heading .tooltip.active .overlay {
        opacity: 1;
        visibility: visible;
    }
    .pricing-table .pricing-tabs-content .item:before {
        left: -10px;
        width: calc(100% + 10px);
    }
    .pricing-table .pricing-tabs-content .head-part .inner .currency {
        padding: 6px;
    }
    .pricing-info .plan-box .plan-selection label {
        padding: 10px 6px;
        height: 38px;
    }
    .pricing-info .plan-box .plan-selection {
        padding: 4px 10px;
    }
    .pricing-table .pricing-tabs-content .item .tooltip-content {
        padding: 24px 24px 52px 24px;
    }
    .pricing-table .pricing-tabs-content .item .tooltip-content h4 {
        font-size: 16px;
    }
    .pricing-table .pricing-tabs-content .item .tooltip-content p {
        max-height: 350px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .pricing-table .pricing-tabs-content .head-part .inner .stock strong {
        font-size: 14px;
    }
    .pricing-table .pricing-tabs-content .head-part .inner {
        padding-right: 10px;
    }
}
@media only screen and (max-width: 345px) {
    .pricing-sticky .sticky-tab ul {
        justify-content: unset;
    }
}