.breadcrumb_wrap {
  display: none;
}
.calc-page .container {
  max-width: 1200px;
}

.calc_col {
  width: 498px;
  padding: 36px;
}

.calc_result_col {
  width: 670px;
  background: #eef5fc;
}

.calc_result_col.blur {
  filter: blur(4px);
  pointer-events: none;
}

.result_inner_col {
  padding: 36px 36px 28px 36px;
}

.main_calc_wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 1px solid #b6c9db;
  overflow: hidden;
}


/* select 2 */
.stock-result-list {
  margin-top: 16px;
  border: 1px solid #a9bdd0;
  border-radius: 4px;
}
.stock-result-list .select2-search--dropdown .select2-search__field {
  border: 1px solid #a9bdd0;
  border-radius: 4px;
  padding: 8px 14px;
  height: auto;
  box-shadow: none;
}
.select2-container--default
  .stock-result-list
  .select2-results__option--selected,
.select2-container--default
  .stock-result-list
  .select2-results__option--highlighted.select2-results__option--selectable {
  background: #002852;
  color: #fff;
}
.stock-result-list .select2-results__option--selectable,
.stock-result-list .select2-results__option {
  padding: 12px 14px;

  font-size: 14px;
  font-style: normal;
  margin: 0 0 1px;
}
/* end select 2 */

.calc_desc {
  margin-bottom: 0;
  margin-top: 34px;
  color: rgba(33, 37, 41, 0.7);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sub_heading {
  color: #505a64;
  text-align: center;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-top: 10px;
  max-width: 807px;
  margin-left: auto;
  margin-right: auto;
}

.about_calc_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about_calc_col {
  width: calc(100% - 390px);
}

.other_calc_list {
  width: 370px;
  padding: 8px;
}

.section_heading_med {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
}

.section_heading_small {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
  padding-left: 12px;
}

.calc_list li {
  list-style: none;
  padding: 12px 8px 12px 12px;
  transition: all 0.3s;
  margin-bottom: 0;
}

.calc_list {
  margin-top: 14px;
  margin-left: 0;
}

.calc_list li a {
  color: #000;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  display: block;
}

.calc_list li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.calc_list li:hover {
  background: #eee;
}

.calc_list li a:after {
  content: "\f054";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  right: 0px;
  color: #002852;
  transition: transform 0.3s;
}
.faqs {
  padding: 78px 0;
}

.faq_content {
  display: none;
}

.faq_wrap {
  max-width: 770px;
}
.faq_que h4 {
  color: #212529;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  padding-right: 30px;
}

.faq_que {
  position: relative;
  cursor: pointer;
}

.faq_que:after {
  content: "\f078";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  right: 0px;
  color: #212529;
  transition: transform 0.3s;
}

.single_faq {
  padding: 28px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.faq_content {
  margin-top: 28px;
}

.faq_content p {
  margin-bottom: 0;
  color: #1e2022;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.faq_que.active:after {
  transform: rotate(180deg);
}
.faqs .section_heading_med {
  padding: 24px 16px;
}
.chart {
  padding: 24px 0 48px;
}

.calc_cont p {
  font-size: 16px !important;
}

.fd_result {
  width: 200px;
  height: 200px;
  position: relative;
}

.est_return.list p:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #002852;
  border-radius: 50%;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
}
.total_value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.total_value p {
  color: #002852;

  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 7px;
  text-align: center;
}

.total_value h4 {
  color: #002852;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.72px;
  margin-bottom: 0;
  text-align: center;
}

#stocks_chart.blur {
  filter: blur(4px);
  pointer-events: none;
}

@media (max-width: 1200px) {
  .calc_col,
  .calc_result_col {
    width: 50%;
  }
  .home_page_faq_wrap {
    padding: 0 115px;
  }
}

@media (max-width: 1100px) {
  .home_page_faq_wrap {
    padding: 0 90px;
  }
}

@media (max-width: 1024px) {
  .calc_col,
  .calc_result_col {
    width: 100%;
  }

  .home_page_faq_wrap {
    padding: 0 80px;
  }
}

@media (max-width: 992px) {
  .home_page_faq_wrap {
    padding: 0 40px;
  }

  .faq_que h4 {
    font-size: 20px;
  }

  .home_page_faqs {
    padding-bottom: 80px;
  }
  .faq_content p {
    font-size: 18px !important;
  }
  .home_page_faqs {
    padding-top: 17px;
  }

  .home_page_faq_wrap {
    padding: 0 2px;
  }
  .faq_que h4 {
    font-size: 14px;
  }

  .faq_que {
    padding-right: 16px;
  }

  .faq_content p {
    font-size: 12px !important;
  }
  .home_page_faqs {
    padding: 104px 0;
  }
}

@media (max-width: 767px) {
  .calc_desc {
    font-size: 14px !important;
  }
  .sub_heading {
    font-size: 14px !important;
  }
  .about_calc_col,
  .other_calc_list {
    width: 100%;
  }
  .calc_cont p {
    font-size: 14px !important;
  }
  .faqs {
    padding: 20px 0;
  }
}


/* latest */
.calc-page .container {
  max-width: 1170px;
}

.calc_list li a:after {
  content: "";
  background: url("../../images/faq_arrow.svg");
  width: 8px;
  height: 14px;
}

.popular_stocks {
  padding-top: 277px;
}

.popular_stocks_heading {
  color: #002852;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.stocks_list_wrap {
  margin: 24px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.stocks_list_wrap li {
  list-style: none;
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #eef5fc;
  transition: all 0.3s;
}

.stocks_list_wrap li a {
  color: #002852;
  font-size: 16px;
  font-weight: 400;
}

.stocks_list_wrap li:hover {
  background: #cedcea;
}

.see_more_btn {
  display: none;
}

.calc_cont {
  margin: 20px 0;
}

@media (max-width: 767px) {
  .popular_stocks_heading {
    font-size: 18px !important;
  }
  .stocks_list_wrap {
    margin: 18px 0 0 0;
    max-height: 334px;
    overflow: hidden;
    transition: all 0.3s;
  }
  .see_more_btn {
    display: flex;
    margin-top: 16px;
    background: #fff;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #002852;
    color: #002852;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
  }
  .see_more_btn:hover {
    background: #fff;
    color: #002852;
    border-color: #002852;
  }
  .see_more_btn svg {
    margin-left: 8px;
    transition: all 0.3s;
  }
  .stocks_list_wrap.collapsed {
    max-height: 1000px;
  }
  .stocks_list_wrap.collapsed + .see_more_btn svg {
    transform: rotate(180deg);
  }
  .other_calc_list {
    padding: 0;
  }
  .section_heading_med {
    font-size: 18px;
  }
  .about_calc_col .section_heading_med {
    margin-bottom: 50px;
  }
  .popular_stocks {
    padding-top: 50px;
    padding-bottom: 41px;
  }
  .about_calc .container,
  .popular_stocks .container {
    padding: 0;
  }
}
